<div class="city-container">

    {{#result}}

        <p>

            <a href="{{url}}"></a><b>{{first_name}}
                {{last_name}}</b>
            {{age}}
            {{city}}

        </p>
    {{/result}}
    <a class="back" href="/signers">Back to Signers</a>
</div>